@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-black-50">Expense and Item manager</h1>
    <p>An MVC project created to learn basics of .NET Core MVC</p>
    <p>It contains 2 functional pages: Items and Expenses. You can add, delete and edit them as in a typical CRUD app.</p>
</div>
